* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.book {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card {
  border-radius: 8px;
  overflow: hidden;
  width: 60%;
  margin: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 100%;
  height: auto;
}

.header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
}

p {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  line-height: 0.6;
}

@media (max-width: 768px) {
  .book {
    grid-template-columns: 1fr 1fr;
  }

  .book-card {
    width: 100%;
    margin: 10px 0;
  }
}

.synopsis {
  width: 100%;
  height: 80vh;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  justify-content: center;
}

.synopsis-text {
  width: 30%;
  height: 100%;
  border-top: 4px solid #333;
  margin-right: 20px;
  border-bottom: 4px solid #333;
}

.synopsis-image {
  width: 30%;
  height: 100%;
  margin-left: 20px;
}

.h1 {
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

.synopsis-image img {
  width: 100%;
  height: 100%;
}

.welcome {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.synopsis-text p {
  font-size: 18px;
  line-height: 1.5;
  text-align: right;
  margin-top: 20px;
}

@media (max-width: 980px) {
  .synopsis {
    flex-direction: column;
    padding: 10px;
  }

  .synopsis-image {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    order: 1;
  }
  .synopsis-text {
    width: 100%;
    height: 500px;
    margin: 5px 0;
    order: 2;
  }

  .synopsis-text p {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .title {
    line-height: 1.5;
  }
}

@media (max-width: 400px) {
  .welcome {
    flex-direction: column;
    padding: 10px;
  }

  .welcome-image {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    order: 1;
  }
}
